/*  your css code here. If applicable */
body {
            background-color: #f5f5f5;
            font-family: Georgia, serif;
        }

        .card {
            width: 350px;
            background: #eeeeee;
            padding: 20px;
            border-radius: 10px;
            margin: 50px auto;
            text-align: center;
            box-shadow: 0px 15px 25px rgba(0,0,0,0.15);
        }

        .card img {
            width: 100%;
            border-radius: 5px;
        }

        .card h1 {
            font-size: 35px;
            margin: 15px 0 5px;
            font-weight: bold;
        }

        .card p {
            font-size: 20px;
            margin: 8px 0;
        }

        .btn {
            padding: 12px 35px;
            background-color: #f27366;
            color: white;
            font-size: 20px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            margin-top: 15px;
        }

        .btn:hover {
            background-color: #e25c4d;
        }
